body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

/* FORMULARIO */
/* La verdad que se debería cambiar todo a flex */
form.container {
    margin-bottom: 40px;
}

form h4 {
    text-align: center;
    margin-bottom: 30px;
}

form p {
    margin: 0;
}

form input {
    width: 95%;
    border: 0;
    margin-bottom: 30px;
    margin-top: 1px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    border-bottom: revert;
    border-radius: unset;
}
form input:focus{
    border: 0;
    outline: none;
    border-bottom: revert;
    border-radius: unset;
}
form input::placeholder{
    font-style:italic;
}
form button {
    display: block;
    margin: 20px;
    padding: 20px;
    width: 97%;
    border-radius: 10px;
    border: 1px solid rgb(0, 143, 226);
    cursor:pointer;
    color: #f0f0f0;
    background-color: rgb(0, 162, 255)!important;

    margin-left: auto;
    margin-right: auto;



    letter-spacing: .05rem;
    position: relative;
    background: white;
    color: darken(rgb(0, 162, 255),5%);
    overflow: hidden;
    transition: .3s ease-in-out;
    border-radius: .3rem;
    z-index: 1;
    box-shadow:0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
form button:hover{
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: scale(.95);
}


/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;
    max-height: 30px;
    color: #f0f0f0;
    background-color: rgb(59, 59, 59);
    font-size: small;
}

footer p {
    margin-left: 20px;
    margin: 0;
    padding: 0;
}
footer p:nth-child(2){
    float: right;
}

footer a {
    color: #f0f0f0;
    text-decoration: none;
}

